* text=auto

*.R text eol=lf
*.py text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.tex text eol=lf
*.txt text eol=lf

*.pdf binary
*.png binary
*.rds binary
*.bin binary
*.zip binary
*.edf binary
